
<h1>Search for tags, get tag info and get media by tag</h1>
<h2>Tag Name = #{tags[0].name}. Media Count =  #{tags[0].media_count}. </h2><br/><br/>
<h2>Tag Name = #{tags[0].name}. Media Count =  #{tags[0].media_count}. </h2><br/><br/>
  <% for media_item in @client.tag_recent_media(tags[0].name) %>
    <img src='#{media_item.images.thumbnail.url}'>
  <% end %>
 
<%= yield %>